header {
  padding: 15px 30px;
  background: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  header .dnour-logo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .dnour-logo img {
      width: 60px;
      margin-right: 15px; }
  header .title {
    font-size: 28px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    color: #c4a575;
    font-weight: 300; }
  header .notification {
    position: absolute;
    padding: 15px 30px;
    background: rgba(3, 30, 47, 0.75);
    border-radius: 5px;
    color: #fff;
    right: 10px;
    top: 90px;
    min-width: 300px;
    max-width: 450px;
    transform: translate3d(140%, 0, 0);
    transition: transform 350ms ease-in-out;
    cursor: pointer; }
    header .notification.success {
      background: rgba(57, 191, 19, 0.75);
      transform: translate3d(0, 0, 0); }
    header .notification.warning {
      background: rgba(191, 134, 19, 0.75);
      transform: translate3d(0, 0, 0); }
    header .notification.error {
      background: rgba(191, 19, 19, 0.75);
      transform: translate3d(0, 0, 0); }
    header .notification:hover {
      opacity: 0.65; }
  header nav ul li {
    display: inline-block;
    margin-right: 20px; }
    header nav ul li:last-of-type {
      margin-right: 0; }
