@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

html, body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }

ul {
  list-style: none; }

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea {
  width: 100%;
  height: 52px;
  border: 1px solid #8d8d8d;
  font-size: 18px;
  padding: 15px;
  font-weight: 300;
  border-radius: 5px;
  transition: all 350ms ease; }
  input[type="text"]:disabled,
  input[type="password"]:disabled,
  input[type="submit"]:disabled,
  input[type="button"]:disabled,
  textarea:disabled {
    opacity: 0.4;
    cursor: not-allowed; }
  input[type="text"].div-2,
  input[type="password"].div-2,
  input[type="submit"].div-2,
  input[type="button"].div-2,
  textarea.div-2 {
    width: 49%;
    margin-right: 2%; }
    input[type="text"].div-2:last-of-type,
    input[type="password"].div-2:last-of-type,
    input[type="submit"].div-2:last-of-type,
    input[type="button"].div-2:last-of-type,
    textarea.div-2:last-of-type {
      margin-right: 0; }
  input[type="text"].div-3,
  input[type="password"].div-3,
  input[type="submit"].div-3,
  input[type="button"].div-3,
  textarea.div-3 {
    width: 32%;
    margin-right: 2%; }
    input[type="text"].div-3:last-of-type,
    input[type="password"].div-3:last-of-type,
    input[type="submit"].div-3:last-of-type,
    input[type="button"].div-3:last-of-type,
    textarea.div-3:last-of-type {
      margin-right: 0; }
  input[type="text"].div-4,
  input[type="password"].div-4,
  input[type="submit"].div-4,
  input[type="button"].div-4,
  textarea.div-4 {
    width: 23.5%;
    margin-right: 2%; }
    input[type="text"].div-4:last-of-type,
    input[type="password"].div-4:last-of-type,
    input[type="submit"].div-4:last-of-type,
    input[type="button"].div-4:last-of-type,
    textarea.div-4:last-of-type {
      margin-right: 0; }
  input[type="text"].auto-width,
  input[type="password"].auto-width,
  input[type="submit"].auto-width,
  input[type="button"].auto-width,
  textarea.auto-width {
    width: fit-content;
    margin-right: 25px;
    padding: 0 30px; }
    input[type="text"].auto-width:last-of-type,
    input[type="password"].auto-width:last-of-type,
    input[type="submit"].auto-width:last-of-type,
    input[type="button"].auto-width:last-of-type,
    textarea.auto-width:last-of-type {
      margin-right: 0; }

textarea {
  height: 200px;
  resize: none; }

input[type="submit"] {
  background: #000000;
  color: white;
  line-height: 1;
  cursor: pointer;
  border-radius: 5px; }
  input[type="submit"]:hover {
    background: #c4a575;
    color: #ffffff; }
  input[type="submit"]:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 17px; }

input[type="button"] {
  background: #ffffff;
  color: #000000;
  line-height: 1;
  cursor: pointer; }
  input[type="button"]:hover {
    background: #222222;
    color: #ffffff; }
  input[type="button"]:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 17px; }

.container {
  padding: 30px; }

.header-1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #000000; }

.header-large {
  font-size: 32px;
  margin-bottom: 30px;
  color: #222; }

.list-container {
  display: grid;
  grid-template-columns: 30% 1fr; }
  .list-container .search-list {
    grid-column-start: 1/2;
    padding: 30px;
    height: 100vh;
    box-shadow: 0 0 10px #8d8d8d; }
  .list-container .challenge-list {
    grid-column-start: 2/3;
    padding: 30px;
    height: 100vh;
    overflow-y: auto; }
    .list-container .challenge-list ul li {
      padding: 15px;
      border-bottom: 1px solid #c7c7c7;
      font-size: 16px;
      color: #222;
      cursor: pointer; }
      .list-container .challenge-list ul li:hover {
        background: #eaeaea; }

.page {
  padding: 30px; }
  .page .add-new {
    position: absolute;
    right: 30px;
    margin-top: -8px; }
    .page .add-new a {
      display: block;
      border-radius: 30px;
      line-height: 3.2;
      padding: 0 30px;
      background: #c4a575;
      height: 50px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
      color: #ffffff; }
      .page .add-new a:hover {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75); }

.bread-crumbs {
  font-size: 13px;
  margin-bottom: 30px; }
  .bread-crumbs ul {
    width: 100%;
    display: flex; }
    .bread-crumbs ul li {
      padding-right: 30px;
      position: relative; }
      .bread-crumbs ul li:before {
        content: '';
        width: 10px;
        height: 10px;
        border-top: 1px solid #c4a575;
        border-right: 1px solid #c4a575;
        position: absolute;
        right: 12px;
        transform: rotate(45deg) scale(0.7);
        top: 4px; }
      .bread-crumbs ul li a {
        color: #c4a575; }
      .bread-crumbs ul li:last-of-type:before {
        display: none; }
      .bread-crumbs ul li:last-of-type a {
        pointer-events: none;
        color: #222222; }

.not-found {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  color: #8d8d8d; }
  .not-found a {
    color: #c7c7c7; }

.app-main {
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  .app-main .main-page {
    width: 100vw; }
