//- span #{filePath}
extends ../../layouts/generic
include ../../partials/breadCrumbs.pug
include ../../partials/addNew.pug

block title
	title #{projectName } | Dashboard
append content
append mainPage
	section.page.dashboard
		+breadCrumbs(breadCrumbs)
		+addNew({link: env.APP_PATH+'dashboard/collection/new', name: 'Collection'})
		h2 Collections
	
block append scripts