html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		block pluginStyles
			link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		block styles
			link(rel='stylesheet', href='/style.css')
		block title
	body
		block content
		block footer
		block pluginScripts
			script(
				src="https://code.jquery.com/jquery-3.4.1.min.js", 
				integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", 
				crossorigin="anonymous"
			)
		block scripts
			script(src="/script.js")