$fade-white: #f5f5f5;
$white: #ffffff;
$theme-color: #000000;
$theme-color-light: #222222;
$gold: #c4a575;
$border-color-1: #8d8d8d;
$border-color-2: #c7c7c7;
$shadow-1: rgba(0,0,0,0.75);
$shadow-2: rgba(0,0,0,0.5);
$shadow-3: rgba(0,0,0,0.25);
$hover-bg-color: #eaeaea;
$error-color: rgb(255, 81, 81);