mixin header(show)
  link(rel="stylesheet", href=env.APP_PATH+"header.css")
  header
    span.dnour-logo
      if !show
        img(src="dnour_logo.png", alt="Dnour.com")
        span.title D'nour | &nbsp;
      span.title admin panel 
    if(show)
      nav
        ul
          //- li 
          //-   a(href="/dashboard") List
          //- li
          //-   a(href="/create") Create new
          if(isAuthenticated)
            li 
            a(href=env.APP_PATH+"logout") Logout
          else
            li 
            a(href=env.APP_PATH+"login") Login

    div.notification
      h4.
        Notification
      p.
        Message in notification